@import '../../../App.scss';


input[type="radio"]{
    width: 20px;
    height: 20px;
    accent-color: $primary-inner-color;
}

.radio-button-container{
    display: flex;
    .radio-button{
        height: 1rem;
        width: 1rem;
    }
}

