@import '../../../App.scss';

.radio-button{
    border-style:solid;
    border-width: 1px;
    border-color: $primary-border-color;
    background-color: $primary-inner-color;
    height: 1rem;
    width: 1rem;
}