@import "../../../App.scss";

.button--primary {
  border-radius: 5rem;
  padding: 10px 20px;
  border: none;
  color: $primary-color;
  background-color: $white-color;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;

  &:disabled {
    background-color: $secondary-bg-color;
    color: $secondary-color;
    cursor: not-allowed;
  }
}

.button--secondary {
  border-radius: 5rem;
  border: 1px solid $white-color;
  padding: 10px 20px;
  color: $white-color;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}
